In [43]:
create table department(deptno int primary key, dname varchar(255), location varchar(255));

create table employee(empno int primary key, ename varchar(255), designation varchar(255), manager varchar(255), hiredate date, salary int,
commission int,deptno int,foreign key(deptno) references department(deptno));

In [44]:
insert into department() VALUES
    (10, 'Sales', 'New York'),
    (20, 'Marketing', 'Los Angeles'),
    (30, 'HR', 'Chicago'),
    (40, 'Finance', 'San Francisco'),
    (50, 'IT', 'Seattle');

In [45]:
insert into employee() VALUES
    (1, 'John Smith', 'Manager', NULL, '2023-01-15', 7000.00, NULL, 10),
    (2, 'Alice Lane', 'Salesman', 1, '2023-02-20', 5000.00, 200.00, 10),
    (3, 'Robert Larson', 'Salesman', 1, '2023-03-12', 4800.00, 300.00, 10),
    (4, 'Mary Johnson', 'Manager', NULL, '2023-04-25', 8000.00, NULL, 20),
    (5, 'Laura Williams', 'Clerk', 4, '2023-05-03', 3000.00, NULL, 20);

In [46]:
select ename from employee
where ename like "%LA%";

ename
Alice Lane
Robert Larson
Laura Williams

In [47]:
select * from employee
where salary >= (select avg(salary) from employee);

empno,ename,designation,manager,hiredate,salary,commission,deptno
1,John Smith,Manager,NULL,2023-01-15,7000,NULL,10
4,Mary Johnson,Manager,NULL,2023-04-25,8000,NULL,20

In [55]:
create VIEW Salesman as
select e.ename from employee e 
join department dpt on e.deptno=dpt.deptno
where e.designation='Salesman';

select * from Salesman;

ename
Alice Lane
Robert Larson

In [54]:
-- drop table employee;
-- drop table department;

-- drop view Salesman;

In [91]:
-- 4b
-- 4.1

create table sailor(sid int primary key,sname varchar(255),rating int,age int);
create table boats(bid int primary key, bname varchar(255), colour varchar(255));
create table reserves(sid int, bid int , day varchar(255),foreign key(bid) references boats(bid),foreign key(sid) references sailor(sid));

In [92]:
INSERT INTO sailor (sid, sname, rating, age) VALUES
    (1, 'John', 8, 30),
    (2, 'Alice', 9, 25),
    (3, 'Bob', 7, 28),
    (4, 'Carol', 8, 32),
    (5, 'David', 9, 22);

INSERT INTO boats (bid, bname, colour) VALUES
    (101, 'BoatA', 'RED'),
    (102, 'BoatB', 'GREEN'),
    (103, 'BoatC', 'RED'),
    (104, 'BoatD', 'BLUE'),
    (105, 'BoatE', 'GREEN');

INSERT INTO reserves (sid, bid, day) VALUES
    (1, 101, '2023-01-15'),
    (1, 102, '2023-02-20'),
    (2, 101, '2023-03-12'),
    (2, 102, '2023-04-25'),
    (3, 102, '2023-05-03');

In [95]:
select * from sailor order by rating desc;

sid,sname,rating,age
2,Alice,9,25
5,David,9,22
1,John,8,30
4,Carol,8,32
3,Bob,7,28

In [98]:
select s.sname from sailor s
join reserves r on r.sid=s.sid 
join boats b on b.bid=r.bid
where b.colour='RED' or b.colour='GREEN';

sname
John
John
Alice
Alice
Bob

In [102]:
SELECT s1.sid, s1.sname
FROM sailor s1
WHERE s1.rating > ALL (SELECT rating FROM sailor WHERE sid > s1.sid);

sid,sname
5,David

In [90]:
-- drop table reserves;
-- drop table sailor;
-- drop table boats;