In [18]:
create table department(deptno int primary key, dname varchar(255), location varchar(255));

create table employee(empno int primary key, ename varchar(255), designation varchar(255), manager varchar(255), hiredate date, salary int,
commission int,deptno int,foreign key(deptno) references department(deptno));

In [20]:
insert into department() VALUES
    (1, 'hello', 'vizag'),
    (2, 'hello1', 'visakhapatnam'),
    (3, 'hello2', 'vizianagaram'),
    (4, 'hello3', 'tirupathi'),
    (5, 'hello4', 'vizianagaram');

In [21]:
insert into employee() VALUES
    (1, 'hi', 'salesman', "yes", '2020-08-01',10000.00, 2000, 3),
    (2, 'hi2LA', 'clerk', "no", '2015-07-03', 9000.00, 1000.00, 2),
    (3, 'hi3', 'manager', "yes", '2019-08-01', 8000.00, 200.00, 1),
    (4, 'hi4', 'salesman', "no", '2015-07-03', 4000.00, 2000, 4),
    (5, 'hi5', 'clerk', "yes", '2020-01-01', 9000.00, 1000, 5);

In [22]:
select * from employee;
select * from department;

empno,ename,designation,manager,hiredate,salary,commission,deptno
1,hi,salesman,yes,2020-08-01,10000,2000,3
2,hi2LA,clerk,no,2015-07-03,9000,1000,2
3,hi3,manager,yes,2019-08-01,8000,200,1
4,hi4,salesman,no,2015-07-03,4000,2000,4
5,hi5,clerk,yes,2020-01-01,9000,1000,5

deptno,dname,location
1,hello,vizag
2,hello1,visakhapatnam
3,hello2,vizianagaram
4,hello3,tirupathi
5,hello4,vizianagaram

In [23]:
select ename from employee
where ename like "%LA%";

ename
hi2LA

In [25]:
select * from employee
-- where salary >= (select avg(salary) from employee);
where salary >=9000;

empno,ename,designation,manager,hiredate,salary,commission,deptno
1,hi,salesman,yes,2020-08-01,10000,2000,3
2,hi2LA,clerk,no,2015-07-03,9000,1000,2
5,hi5,clerk,yes,2020-01-01,9000,1000,5

In [29]:
create VIEW Salesman as
select * from employee e 
where e.designation='Salesman';

select * from Salesman;

empno,ename,designation,manager,hiredate,salary,commission,deptno
1,hi,salesman,yes,2020-08-01,10000,2000,3
4,hi4,salesman,no,2015-07-03,4000,2000,4

In [45]:
desc employee;
desc department;

Field,Type,Null,Key,Default,Extra
empno,int(11),NO,PRI,NULL,
ename,varchar(255),YES,,NULL,
designation,varchar(255),YES,,NULL,
manager,varchar(255),YES,,NULL,
hiredate,date,YES,,NULL,
salary,int(11),YES,,NULL,
commission,int(11),YES,,NULL,
deptno,int(11),YES,MUL,NULL,

Field,Type,Null,Key,Default,Extra
deptno,int(11),NO,PRI,NULL,
dname,varchar(255),YES,,NULL,
location,varchar(255),YES,,NULL,

In [28]:
-- drop table employee;
-- drop table department;

drop view Salesman;

In [38]:
-- 4b
-- 4.1

create table sailor(sid int primary key,sname varchar(255),rating int,age int);
create table boats(bid int primary key, bname varchar(255), colour varchar(255));
create table reserves(sid int, bid int , day varchar(255),foreign key(bid) references boats(bid),foreign key(sid) references sailor(sid));

In [39]:
INSERT INTO sailor (sid, sname, rating, age) VALUES
    (1, 'hi', 4, 20),
    (2, 'hi1', 3, 19),
    (3, 'hi2', 4, 23),
    (4, 'hi3', 3, 26),
    (5, 'hi4', 5, 19);

INSERT INTO boats (bid, bname, colour) VALUES
    (1, 'b1', 'RED'),
    (2, 'b2', 'brown'),
    (3, 'b3', 'GREEN'),
    (4, 'b4', 'RED'),
    (5, 'b5', 'VIOLET');

INSERT INTO reserves (sid, bid, day) VALUES
    (1, 1, 'MONDAY'),
    (2, 2, 'TUESDAY'),
    (3, 3, 'MONDAY'),
    (4, 4, 'WEDNESDAY'),
    (5, 5, 'SUNDAY');

In [40]:
select * from sailor;
select *from boats;
select * from reserves;

sid,sname,rating,age
1,hi,4,20
2,hi1,3,19
3,hi2,4,23
4,hi3,3,26
5,hi4,5,19

bid,bname,colour
1,b1,RED
2,b2,brown
3,b3,GREEN
4,b4,RED
5,b5,VIOLET

sid,bid,day
1,1,MONDAY
2,2,TUESDAY
3,3,MONDAY
4,4,WEDNESDAY
5,5,SUNDAY

In [41]:
select * from sailor order by rating desc;

sid,sname,rating,age
5,hi4,5,19
1,hi,4,20
3,hi2,4,23
2,hi1,3,19
4,hi3,3,26

In [42]:
select s.sname from sailor s
join reserves r on r.sid=s.sid 
join boats b on b.bid=r.bid
where b.colour='RED' or b.colour='GREEN';

sname
hi
hi2
hi3

In [44]:
SELECT *
FROM sailor s1
WHERE s1.rating > ALL (SELECT rating FROM sailor WHERE sid > s1.sid);

sid,sname,rating,age
5,hi4,5,19

In [48]:
desc sailor;
desc boats;
desc reserves;

Field,Type,Null,Key,Default,Extra
sid,int(11),NO,PRI,NULL,
sname,varchar(255),YES,,NULL,
rating,int(11),YES,,NULL,
age,int(11),YES,,NULL,

Field,Type,Null,Key,Default,Extra
bid,int(11),NO,PRI,NULL,
bname,varchar(255),YES,,NULL,
colour,varchar(255),YES,,NULL,

Field,Type,Null,Key,Default,Extra
sid,int(11),YES,MUL,NULL,
bid,int(11),YES,MUL,NULL,
day,varchar(255),YES,,NULL,

In [37]:
-- drop table reserves;
-- drop table sailor;
-- drop table boats;