In [10]:
CREATE TABLE stu_details (
    reg_no INT PRIMARY KEY,
    stu_name VARCHAR(50),
    DOB DATE,
    address VARCHAR(100),
    city VARCHAR(50)
);

In [11]:
CREATE TABLE mark_details (
    reg_no INT PRIMARY KEY,
    mark1 INT,
    mark2 INT,
    mark3 INT,
    total INT
);

In [12]:
INSERT INTO stu_details (reg_no, stu_name, DOB, address, city)
VALUES 
    (1, 'John Doe', '1995-05-15', '123 Main St', 'New York'),
    (2, 'Jane Smith', '1998-10-25', '456 Oak Ave', 'Los Angeles'),
    (3, 'Bob Johnson', '2000-03-08', '789 Maple Dr', 'Chicago');

In [13]:
INSERT INTO mark_details (reg_no, mark1, mark2, mark3, total)
VALUES 
    (1, 85, 90, 75, 250),
    (2, 80, 75, 95, 250),
    (3, 70, 85, 80, 235);

In [14]:
--1.1
alter table mark_details
add column average long;

In [15]:
--1.2

alter table stu_details
add COLUMN months integer;
update stu_details set months=(round((select DATEDIFF(CURDATE(),DOB))/30)) where DOB=DOB;

In [23]:
--1.3

alter table stu_details
drop column address;

In [24]:
--1.4

create table student_marks(sum_marks int,avg_marks int);

In [31]:
create trigger sum_avg_trigger
after insert on mark_details
for each ROW
BEGIN
    insert into student_marks() values(new.mark1+new.mark2+new.mark3,(new.mark1+new.mark2+new.mark3)/4);
END;

select * from student_marks;

In [30]:
drop trigger sum_avg_trigger;

In [32]:
insert into mark_details() VALUE (4,1,1,1,1,1);

In [ ]:
select * from st

In [22]:
select * from stu_details;
select * from mark_details;

reg_no,stu_name,DOB,address,city,months
1,John Doe,1995-05-15,123 Main St,New York,348
2,Jane Smith,1998-10-25,456 Oak Ave,Los Angeles,306
3,Bob Johnson,2000-03-08,789 Maple Dr,Chicago,289

reg_no,mark1,mark2,mark3,total,average
1,85,90,75,250,NULL
2,80,75,95,250,NULL
3,70,85,80,235,NULL

In [9]:
drop table stu_details;
drop table mark_details;