In [78]:
create table bus(ROUTENO int, SOURCE varchar(255), DESTINATION varchar(255));
create table passenger(PID int, PNAME varchar(255), DOB date, GENDER varchar(255));
create table book_ticket(PID int, ROUTENO int, JOURNEY_DATE date, SEAT_NO int);

In [79]:
select * from bus;
select * from passenger;
select * from book_ticket;

In [80]:
alter table bus add primary key (ROUTENO);
alter table passenger add primary key (PID);

In [81]:
alter table book_ticket add foreign key(PID) REFERENCES passenger(pid);
alter table book_ticket add foreign key(ROUTENO) REFERENCES bus(ROUTENO);

In [82]:
-- 6.2

INSERT INTO bus (ROUTENO, SOURCE, DESTINATION) VALUES
    (1, 'Bangalore', 'Chennai'),
    (2, 'Chennai', 'Pune'),
    (3, 'Mumbai', 'Delhi');

In [83]:
INSERT INTO passenger (PID, PNAME, DOB, GENDER) VALUES
    (101, 'John', '1995-03-15', 'M'),
    (102, 'Alice', '1988-06-10', 'F'),
    (103, 'Bob', '2000-11-25', 'M'),
    (104, 'Carol', '2005-09-20', 'F'),
    (105, 'David', '2012-02-05', 'M');

In [84]:
INSERT INTO book_ticket (PID, ROUTENO, JOURNEY_DATE, SEAT_NO) VALUES
    (101, 1, '2014-11-03', 12),
    (102, 1, '2014-11-03', 7),
    (103, 2, '2014-11-05', 4),
    (104, 1, '2014-11-03', 3),
    (105, 2, '2014-11-06', 9);

In [85]:
-- 6.3

alter table passenger add column dob_2010 int;
update passenger set dob_2010=(dob>'2010-01-01') where dob=dob;

In [86]:
-- 6.4

select PNAME from passenger p
join book_ticket bt on p.PID=bt.PID
join bus b on b.ROUTENO=bt.ROUTENO
where b.SOURCE='Banglore' and b.DESTINATION='Chennai' and bt.JOURNEY_DATE='2014-11-03';

In [87]:
-- 6.5

create view chennai_to_pune as
select b.ROUTENO,b.SOURCE,b.DESTINATION,bt.JOURNEY_DATE
from bus b 
join book_ticket bt on bt.ROUTENO=b.ROUTENO
where b.SOURCE ='Chennai' and b.DESTINATION='Pune';

select * from chennai_to_pune;

In [88]:
-- 6.6

create index passenger_pid_index on passenger(PID);

: 1050 (42S01): Table 'chennai_to_pune' already exists

In [77]:
-- drop table book_ticket;
-- drop table bus;
-- drop table passenger;