In [1]:
create table emp_details 
(
    emp_no int,
    emp_name varchar(255),
    DOB date,
    address varchar(255),
    doj date,
    mobile_no varchar(15),
    dept_no int,
    salary decimal(10, 2)
);


create table dept_details 
(
    dept_no int,
    dept_name varchar(255),
    location varchar(255)
);

In [2]:
select * from emp_details;
select * from dept_details;

In [3]:
insert into emp_details() 
values 
(1,"hi","2005-08-08","leeo","2022-08-01",989,09,10), (2,"hi","2005-08-08","leeo","2022-08-01",989,09,10);

In [4]:
-- 2.1
alter table emp_details
add COLUMN exp_mon integer;
update emp_details set exp_mon=(round((select DATEDIFF(CURDATE(),doj))/30)) where doj=doj;

In [5]:
-- 2.2

alter table emp_details add primary key(emp_no);

In [6]:
-- 2.3

select emp_name,salary from emp_details where emp_details.salary=(select max(salary) from emp_details);

emp_name,salary
hi,10.00
hi,10.00

In [7]:
insert into dept_details() values (9,"dep_hi","dep_loc");

In [8]:
-- 2.4

SELECT *
FROM emp_details
left JOIN dept_details ON emp_details.dept_no = dept_details.dept_no;

SELECT *
FROM emp_details
right JOIN dept_details ON emp_details.dept_no = dept_details.dept_no;

SELECT *
FROM emp_details
inner JOIN dept_details ON emp_details.dept_no = dept_details.dept_no;

SELECT *
FROM emp_details
left JOIN dept_details ON emp_details.dept_no = dept_details.dept_no
UNION
SELECT *
FROM emp_details
RIGHT JOIN dept_details ON emp_details.dept_no = dept_details.dept_no
WHERE emp_details.dept_no IS NULL;

emp_no,emp_name,DOB,address,doj,mobile_no,dept_no,salary,exp_mon,dept_no,dept_name,location
1,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc
2,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc

emp_no,emp_name,DOB,address,doj,mobile_no,dept_no,salary,exp_mon,dept_no,dept_name,location
1,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc
2,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc

emp_no,emp_name,DOB,address,doj,mobile_no,dept_no,salary,exp_mon,dept_no,dept_name,location
1,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc
2,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc

emp_no,emp_name,DOB,address,doj,mobile_no,dept_no,salary,exp_mon,dept_no,dept_name,location
1,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc
2,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16,9,dep_hi,dep_loc

In [39]:
-- 2.5

select emp_name from emp_details where emp_details.address like 'a%'

In [11]:
-- 2.6

-- create table emp_details_backup(
--     emp_no int,
--     emp_name varchar(255),
--     DOB date,
--     address varchar(255),
--     doj date,
--     mobile_no varchar(15),
--     dept_no int,
--     salary decimal(10, 2),
--     exp_mon int
-- );
create table emp_details_backup like emp_details;

In [41]:
CREATE TRIGGER backup_trigger
after DELETE ON emp_details
FOR EACH ROW
BEGIN
    INSERT INTO emp_details_backup SELECT * FROM emp_details WHERE emp_id = emp_id;
END;

-- Verify the content of both tables
SELECT * FROM emp_details;
SELECT * FROM emp_details_backup;

-- Perform a delete operation
DELETE FROM emp_details;

-- Verify the content again
SELECT * FROM emp_details;
SELECT * FROM emp_details_backup;

: 1050 (42S01): Table 'emp_details_backup' already exists

emp_no,emp_name,DOB,address,doj,mobile_no,dept_no,salary,exp_mon
1,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16
2,hi,2005-08-08,leeo,2022-08-01,989,9,10.00,16

: 1054 (42S22): Unknown column 'emp_id' in 'where clause'

In [10]:
drop table emp_details_backup;
drop TRIGGER backup_trigger;

: 1360 (HY000): Trigger does not exist

In [43]:
--2.7

create table buffer(
    dept_no int,
    dept_name varchar(255),
    att1 int,
    att2 int,
    location varchar(255));

In [44]:
insert into buffer(dept_no,dept_name,location) select dept_no,dept_name,location from dept_details;

In [45]:

drop table dept_details;

alter table buffer RENAME to dept_details;

select * from dept_details;

dept_no,dept_name,att1,att2,location
9,dep_hi,NULL,NULL,dep_loc

In [47]:
drop table emp_details;
drop table dept_details;